@import "../../assets/scss/index.scss";
.home-section {
  min-height: 100vh;
  button {
    font-size: 1.1rem;
  }
  
  .home-div {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 100%;
    .bio-div {
      margin-top: 10rem;
      .title-name {
        font-size: 4rem;
      }
      p {
        font-size: 3rem;
        color: $red-theme;
      }
      .home-btn-div {
        margin: 1rem 0;
        display: flex;
        gap: 1rem;
      }
    }
    .CV-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      .CV-container {
        width: 15rem;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  .home-section {
    display: flex;
    align-items: center;

    .home-div {
      gap: 2rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .bio-div {
        margin: 0;
      }
    }
  }
}
@media only screen and (min-width: 850px) {
  .home-section {
    .home-div {
      gap: 6rem;
    }
  }
}
@media only screen and (min-width: 1000px) {
  .home-section {
    .home-div {
      gap: 8rem;
    }
  }
}
