@import "../../assets/scss/index.scss";
.home-section {
  min-height: 100vh;
  button {
    font-size: 1.1rem;
  }

  .home-div {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    .bio-div {
      margin-top: 10rem;
      .title-name {
        font-size: 3.5rem;
      }
      p {
        font-size: 2.5rem;
        color: $red-theme;
      }
      .home-btn-div {
        animation-delay: 2000ms;

        margin: 1rem 0;
        display: flex;
        gap: 1rem;
      }
    }
    .CV-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      animation-delay: 2500ms;

      .CV-container {
        width: 15rem;
        position: relative;
        transition: transform 150ms ease-in-out;
        &:hover {
          transform: scale3d(1.02, 1.02, 1);
        }
        &::before {
          content: "";
          position: absolute;
          bottom: 3px;
          right: 0;
          left: 0;
          top: 0;
          border: white solid 1px;
        }
        animation: animateHeart infinite;
        animation-duration: 4s;
        animation-delay: 6s !important;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  .home-section {
    display: flex;
    align-items: center;

    .home-div {
      gap: 2rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .bio-div {
        margin: 0;
      }
    }
  }
}
@media only screen and (min-width: 850px) {
  .home-section {
    .home-div {
      gap: 6rem;
    }
  }
}
@media only screen and (min-width: 1000px) {
  .home-section {
    .home-div {
      gap: 8rem;
    }
    
  }
}

@media only screen and (min-width: 1060px) {
  .home-section {
    
    br {
      display: none;
    }
  }
}
