@import "../../assets/scss/index.scss";
.mobile-menu {
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  background-color: $backGround-color;

  height: 100vh;
  width: 100vw;
  z-index: 2;

  transition: transform 300ms ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.4rem;
  nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    li a {
      color: $text-color;
      text-decoration: none;
    }
  }
  .social {
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
    
  }
}

.active {
  transform: translateY(-100%);
}

@media only screen and (min-width: 550px) {
  .mobile-menu {
    display: none;
  }
}
