// 1
@import "./1/variables.scss";

// 2

@import "./2/general.scss";
@import "./2/typography.scss";
@import "./2/layout.scss";
@import "./2/btn.scss";
@import "./2/animation.scss";
@import "./2/tool.scss";
