// class for rubberband animation
.rubberBand {
  display: inline-block;
  animation: rubberBand1 1300ms ease-in-out;
  animation-direction: normal;
  animation-fill-mode: both;
}
.rubberBand2 {
  display: inline-block;
  animation: rubberBand1 1300ms ease-in-out;
  animation-delay: 1s;
  animation-direction: normal;
  animation-fill-mode: both;
}

@for $i from 1 through 50 {
  .rubberBand2._#{$i} {
    animation-delay: #{$i / 10}s;
  }
}

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@for $i from 1 through 50 {
  .text-animate._#{$i} {
    animation-delay: #{$i / 10}s;
  }
}

.headShake-class {
  animation: headShake;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(180deg) rotateZ(360deg);
  }

  100% {
    transform: rotateX(720deg) rotateY(720deg) rotateZ(720deg);
  }
}

@keyframes rubberBand1 {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
    transform: scale(1.8);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
