.btn {
  background-color: $backGround-color;
  border: 1px solid white;
  color: $text-color;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-basic-white {
  border-radius: 10px;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.btn-basic-white:hover {
  background-color: white;
  box-shadow: 0 0  10px 0  white;
  color: black;
}
.btn-basic-white:active {
  transform: scale(0.96);
}

.btn-style-red {
  background-color: $backGround-color;
  border: 1px solid $red-theme;
  color: $red-theme;
  position: relative;
}

.btn-style-red:hover {
  background-color: $red-theme;
  border: 1px solid $red-theme;
  box-shadow: 0 0  10px 0  $red-theme;

  color: $text-color;
}
