.btn {
  background-color: $backGround-color;
  border: 1px solid white;
  color: $text-color;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-basic-white {
  border-radius: 10px;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

.btn-basic-white:hover {
  background-color: white;
  color: black;
}
.btn-basic-white:active {
  transform: scale(0.96);
}

.btn-style-red {
  background-color: $backGround-color;
  border: 1px solid $red-theme;
  color: $red-theme;
  position: relative;
}

.btn-style-red:hover {
  background-color: #c71b27;
  border: 1px solid #c71b27;

  color: $text-color;
}
