*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
  background-color: $backGround-color;
  color: $text-color;
}

a {
  color: white;
  text-decoration: none;
}
img {
  max-width: 100%;
}
.link {
  transition: color 150ms ease-in-out;
}
.link:hover {
  color: $red-theme;
}
.title {
  margin: 2rem 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.color-red {
  color: $red-theme;
}

.linkedin,
.github {
  transition: color 150ms ease-in-out;
}
.linkedin:hover {
  color: #0a66c2;
}
.github:hover {
  color: rgb(146, 146, 146);
}

.html {
  color: #e34c26;
}
.css {
  color: #0033ff;
}
.javascript {
  color: rgb(255, 200, 0);
}
.react {
  color: #61dbfb;
}
.sass {
  color: #cd6799;
}
