// roboto
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: 14px;
}

@media only screen and (min-width: 500px) {
  :root {
    font-size: 15px;
  }
}

@media only screen and (min-width: 700px) {
  :root {
    font-size: 16px;
  }
}

@media only screen and (min-width: 900px) {
  :root {
    font-size: 17px;
  }
}
