@import "../../assets/scss/index.scss";

.contact-me-section {
  padding: 4rem 0;
  margin: 2rem auto;

  // display: flex;
  // & > * {
  //   width: 50%;
  //   padding: 1rem ;
  // }

  h2 {
    margin: 2rem 0;
    text-align: center;
  }
  // .about-me-div {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  // }
}

.education-div {
  display: flex;
  justify-content: center;
  font-size: 17px !important;
  .timeline-div {
    background-color: #353535;
    width: 300px;
    height: 1px;
    margin: 4rem 0;
    position: relative;
    .year-outside {
      position: absolute;
      
      transform: translateY(50%);
    }

    .year-21 {
      bottom: -30px;
      left: 55px;
    }
    .year-22 {
      bottom: -30px;
      left: 205px;
    }

    .year-inside {
      position: relative;
      width: 38px;
    }
    .year-inside::before {
      content: "";
      position: absolute;
      top: -100%;
      left: 50%;
      width: 1px;
      height: 15px;
      background-color: #353535;
    }

    .highSchool {
      position: absolute;
      width: 150px;
      height: 5px;
      top: -10px;
      left: 0px;

      background-color: rgb(0, 106, 255);
    }
    .highSchool::before {
      content: 'liceo peano';
      position: absolute;
      top: -20px;
      left: 0px;
    }
    .start2impact {
      position: absolute;
      width: 150px;
      height: 5px;
      top: -40px;
      left: 90px;

      background-color: rgb(0, 255, 38);
    }
    .university {
      position: absolute;
      width: 115px;
      height: 5px;
      top: -10px;
      left: 185px;

      background-color: rgb(255, 196, 0);
    }
  }
}

@media only screen and (min-width: 800px) {
  .contact-me-section {
    display: flex;
    & > * {
      width: 50%;
      padding: 0 2rem ;
    }
  }
}
