@import "../../assets/scss/index.scss";

.contact-me-section {
  padding: 4rem 0;
  margin: 2rem auto;

  h2 {
    margin: 2rem 0;
    text-align: center;
  }
  p span {
    color: $red-theme;
  }
  .incons-div {
    font-size: 3rem;
    margin: 2rem;

    .html {
      color: #e34c26;
    }
    .css {
      color: #0033ff;
    }
    .javascript {
      color: rgb(255, 200, 0);
    }
    .react {
      color: #61dbfb;
    }
    .sass {
      color: #cd6799;
    }
  }
}

@media only screen and (min-width: 800px) {
  .contact-me-section {
    display: flex;
    & > * {
      width: 50%;
      padding: 0 2rem;
    }
  }
}
