@import "../../assets/scss/index.scss";

.contact-me-section {
  padding: 4rem 0;
  margin: 2rem auto;

  h2 {
    margin: 2rem 0;
    text-align: center;
  }
  p span {
    color: $red-theme;
  }

  .html {
    color: #e34c26;
  }
  .css {
    color: #0033ff;
  }
  .javascript {
    color: rgb(255, 200, 0);
  }
  .react {
    color: #61dbfb;
  }
  .sass {
    color: #cd6799;
  }
}
.cube-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  .cube {
    position: relative;
    width: 100px;
    height: 100px;

    animation-name: spincube;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-direction: alternate;
    transform-style: preserve-3d;

    transform-origin: 50px 50px 0;
    div {
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: #99e7e4a1;
      margin: 1rem;
      border: #009d95 solid 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      box-shadow: 0  0 500px   0  #00e4d997;
    }

    .face1 {
      transform: translateZ(50px);
    }

    .face2 {
      transform: rotateY(90deg) translateZ(50px);
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(50px);
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(50px);
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(50px);
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(50px);
    }
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(180deg) rotateZ(360deg);
  }

  100% {
    transform: rotateX(720deg) rotateY(720deg) rotateZ(720deg);
  }
}


@media only screen and (min-width: 800px) {
  .contact-me-section {
    display: flex;
    & > * {
      width: 50%;
      padding: 0 2rem;
    }
  }
}
