@import "../../assets/scss/index.scss";

.header {
  display: flex;
  justify-content: space-between;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;

  animation-delay: 3000ms !important;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
  }

  .nav-bar {
    display: flex;
    align-items: center;
  }

  .mobile-menu-btn {
    font-size: 1.9rem;
    cursor: pointer;
  }

  .desktop-nav {
    display: none;
    justify-content: space-between;
    gap: 1rem;
    list-style-type: none;
  }
}

@media only screen and (min-width: 550px) {
  .header {
    .desktop-nav {
      display: flex;
    }
    .mobile-menu-btn {
      display: none;
    }
  }
}
