.work-section {
  padding-top: 4rem;
  h2 {
    text-align: center;
  }
}

.project {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;

  h3 {
    order: 1;
    margin-bottom: 1rem;
  }
  .div-info {
    order: 3;
    p {
      margin: 1rem 0;
      a {
        color: #0084ff;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .div-btn {
      display: flex;
      gap: 1rem;
    }
  }
  .img-container {
    order: 2;
  }
}

@media only screen and (min-width: 650px) {
  .project {
    display: block;

    column-count: 2;
    column-gap: 2rem;
    .div-info {
      margin-bottom: 7rem;
    }
  }
}
